[tools]
cilium-cli = "latest"
helm = "latest"
kubectl = "latest"
opentofu = "latest"
talosctl = "latest"
terragrunt = "latest"
yq = "latest"

[env]
AWS_ACCESS_KEY_ID = "{{ env.B2_TF_APPLICATION_KEY_ID }}"
AWS_SECRET_ACCESS_KEY = "{{ env.B2_TF_APPLICATION_KEY }}"
ENV_DIR = "{{ config_root }}/env"
