[Preferences]
Downloads\SavePath=/media/unsorted/
Downloads\TempPath=/media/incomplete/
WebUI\Password_PBKDF2="@ByteArray(${password_salt}:${password_key})"
WebUI\Username=${username}

[BitTorrent]
Session\DefaultSavePath=/media/unsorted/
Session\TempPath=/media/incomplete/
